<div class= "container">
    <h3>Job posts</h3>
<!--     <input name ="post-title" [(ngModel)="newPost.name"/> -->
    
    <div style="padding:20px 0px" *ngFor ="let post of posts">
        <div class="card">
            <div class="card-header">
                {{post.title}}

                <span style="float: right; color: black;" (click)= "deletePost(post)">delete</span>
            </div>
            <div class="card-body">
                 <p class="card-text">{{ post.content }}</p>
            </div>
        </div>
    </div>
</div>
